<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-10">
        <div class="col-xl-6">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-12">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <img [src]="bckphoto"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">bienvenue </h4>
                  </div>

                  <form [formGroup]="loginForm">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example11">email</label>

                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="entree votre email" formControlName="email"/>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example22">Password</label>

                      <input type="password" id="form2Example22" class="form-control" placeholder="entree votre mot de passe" formControlName="password"/>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button  [disabled]="!loginForm.valid"  (click)="loginAdmin()" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">se connecter
                        </button>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
